body {
    padding: 0;
    font-family: "Impact";
    margin: 80px 600px 0;
    background-color: #C5DFFD;
}

.login-style {
    background-color: white;
    height: 100%;
    width: 100%;
}

.login-border{
    background-color: white;
    width: 120%;
    padding: 40px 40px 40px 50px;
    border-radius: 8%;
}

p {
    background-color: white;
    font-size: 30px;
    padding: 15px;
}

.p-center {
    display: flex;
    align-items: center;
    width: 20%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


progress::-moz-progress-bar {
    border: 0;
    height: 20px;
    border-radius: 2px;
    background-color: green !important;
}

ul {
    font-family: "Verdana";
    font-size: 12px;
}
